.home-page-space {
  min-height: 100vh; /* místo height: 90vh */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(
      to top,
      hsla(45, 100%, 94%, 0.3),
      hsla(39, 77%, 83%, 0.5),
      hsla(54, 77%, 75%, 0.7)
    ),
    url(../images/ChatGPT\ Image\ 7.\ 5.\ 2025\ 22_45_13.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  width: 100%;
}

.no-results-text {
color: black;
font-weight: bold;
margin-top: 20px;
}


