.link-home-page,
.link-about-page {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  transition: transform 0.1s ease-in-out;
}

.link-about-page:hover,
.link-home-page:hover {
  transform: scale(1.1);
}

.header-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: 5px solid rgb(171, 150, 32);

}

.logo-body {
  display: flex;
  align-items: center;
}

.logo-name {
  font-weight: 600;
}

.nav-body {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-right: 20px;
}
